<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>
            @title
        </title>
        <link rel="stylesheet" href="static/css/master.css" type="text/css" charset="utf-8">
    </head>
    <body>
        <div class="header">
            <div class="logo"> :) </div>
            <span class="boldcaps">
                Pantoffel
            </span>
            <span class="quote">The internet as it should be.</span>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="https://github.com/">Github</a>
            <a href="https://google.com/">Google</a>
            <a href="mailto:me@example.com">Email</a>
        </div>

        <div class="container">
        @menu
        @content
        </div>
    </body>
</html>
